h1 {
  text-align: center;
  color: rgb(10, 56, 71);
  font-style: italic;
  font-family: 'Plaster', cursive;
}
.bg {
  background: url("https://materializecss.com/images/sample-1.jpg");
  color: white;
  background-repeat: no-repeat;
}
h6 {
  padding: 5px;
}
