<h1>MOTIVATIONAL QUOTES GENERATOR</h1>
<div class="container-fluid">
    <div class="row jumbotron bg">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div class="row">
              <h6 id="{{i}}">{{quote.name}} posted <br> </h6>
        </div>
        <div class="row">
            <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
        </div>
    </div>
</div>
