<div class="container-fluid">
    <div class="row">
        <form #goalForm='ngForm'>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required class="form-control" placeholder="Enter name" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>
                      Name is Required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Quote</label>
                <textarea class="form-control" id="description" placeholder="Enter quote" rows="4" [(ngModel)]="newQuote.description" description="description" #description="ngModel" required></textarea>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    <p>
                      Quote is Required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type='text' required class="form-control" placeholder="Enter quote author" id="author" [(ngModel)]="newQuote.author" author="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>
                      Quote author is Required
                    </p>
                </div>
            </div>
            <div>
                <label for="posted">Date Posted</label>
                <input type="date" id="posted" name="dateCreated" required>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Goal</button>
        </form>
    </div>
</div>
